* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.text-primary {
    color: #fd6e0a;
}

/* Header and navigation styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-logo {
    font-weight: 800;
    font-size: 45px;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    line-height: 27px;
    border: none;
    padding: 20px 60px;
}

/* Banner Styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center                   ;
}

.bannerSubTitle {
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #474747;
    margin-bottom: 5px;
}

.bannerTitle {
    font-weight: 700;
    font-size: 85px;
    line-height: 115px;
    margin-bottom: 20px;
}

.bannerParagraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.banner .bannerTextContainer > .btn-primary {
    padding: 20px 20px;
} 

/* Main section styles */
.main {
    max-width: 1140px;
    margin: auto;
}

section {
    margin-top: 130px;
}

/* About Section Styles */

.about-me {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    border-radius: 10px;
}

.sectionTitle {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.sectionDescription {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.about .info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}


.whatIdoSectionDescription {
    font-size: 18px;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-tittle {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin:30px 0px  20px 0px;
}

/* Resume Styles */

.resume-container {
    display: flex;
    gap: 24px;
}

.resume-item {
    margin: 30px 0;
}

.resume .resume-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume .resume-subTitle {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

.resume .resume-description {
    color: #757575;
}

.resume > .resume-btn {
    text-align: center;
}

/* Contact styles */

footer {
    background: #FFF8F3;   
}

footer .contact-container {
    display: flex;
    gap: 100px;
    padding: 130px 200px;
}

.contact-container .contact-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 15px;
}

.contact-container .contact-sub-title {
    color: #181818;
    /* font-size-adjust: 400px; */
    font-stretch: condensed;
}

.contact-container a img{
    margin-top: 20px;
    padding: 0 20px 0 0;
}

.from {
    display: flex;
    flex-direction: column;
}

.form-area input {
    border: none;
    border-radius: 5px;
    width: 460px;
    padding: 18px 30px;
    color: #757575;
    margin-bottom: 24px;
}

.form-area input:focus{
    outline: none;
}

.form-area textarea {
    width: 460px;
    padding: 18px 30px;
    resize: none;
    border: none;
    margin-bottom: 20px;
}

.form-area textarea:focus {
    outline: none;
}

.form-area button {
    width: 150px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
